#signin {
	width: 100%;
}

.form-control:focus {
	border-color: #0084ff;
}

.pointer {
	cursor: pointer;
}

#login-form {
	
}
#login-form h1 {
}

#signup-form {
	
}
#signup-form h1 {
	
}

.demo-account {
	color: white;
	opacity: 0.5;
}

.change-form span, .change-form span i {
	background: -webkit-linear-gradient(#16bb53, #78ffaa);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

button.btn {
	
}