* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
input {
	box-shadow: none !important;
}
.text-primary {
	color: #419dff !important;
}
body {
	background: #0b1222;
}
h1, h2 {
	background: -webkit-linear-gradient(#16bb53, #78ffaa);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.mb-6 {
	margin-bottom: 4rem;
}